# Server Configuration
PORT=3000
SALT_ROUNDS=12
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRY=1h

# MongoDB Configuration
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/notes-api

# STANDALONE CONTAINER RUN: If connecting to DBs on host machine
# DATABASE_URL=postgresql://postgres:<password>@host.docker.internal:5432/notesdb
# REDIS_URL=redis://host.docker.internal:6379

# MULTI-CONTAINER COMPOSE RUN: If connecting to DBs inside the compose network
DATABASE_URL=postgresql://postgres:<password>@postgres:5432/notesdb
REDIS_URL=redis://redis:6379
